name: incident-rca-builder
image:
  repository: <acr-name>.azurecr.io/incident-rca-builder
  tag: "1.0.0"
  pullPolicy: IfNotPresent
replicaCount: 2
resources: {}
service:
  type: ClusterIP
  port: 80
containerPort: 8080
ingress:
  enabled: false
  host: ""
env: []
